.App{
    width: 90%;
    margin: 0 auto;
    padding: 2rem 0;
    text-align: center;
}

header{
    position: relative;
    padding: 1.5rem 0;
}
header h3{
    margin: 1rem 0;
}

#slack{
    display: none;
}

header figure {
    position: absolute;
    top: 0;
    right: 15vw;
}

a{
    text-decoration: none;
    background-color: #EAECF0;
    border-radius: 8px;
    border: 1px solid #EAECF0;
    color: #101828;
    margin: 1.5rem 0;
    font-family: 'Inter', sans-serif;
    font-weight: 500;
    justify-content: center;
    display: flex;
    padding: 24px 32px;
}

.social img {
    margin: 0 1rem;
}